@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Orbitron|Montserrat:400,600,800');

body {
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

header {
  background-color: hsl(0, 0%, 0%);
}

h1,
h2,
label {
  font-family: Montserrat;
}

h1 {
  font-size: 28pt;
  font-weight: 800;
}

h2,
label {
  font-size: 16pt;
  font-weight: 600;
}

form label,
form text {
  font-family: Montserrat;
  font-weight: 400;
}

form label {
  font-size: 14pt;
}

form text {
  font-size: 12pt;
}

form input {
  display: block;
  width: 100%;
}

.amountSection {
  position: relative;
}

.amountAsset {
  position: absolute;
  color: black;
  top: 52px;
  right: 15px;
  font-weight: 600;
}

.App {
  background-color: rgba(25, 25, 25, 1);
}

.button {
  padding: 5px 26px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 172px;
  min-width: 172px;
}

.cta {
  background-color: rgb(254, 192, 4);
  color: rgba(25, 25, 25, 1);
  font-weight: 800;
}

.cta:hover {
  background-color: rgba(254, 192, 4, 0.8);
}

.disabled {
  pointer-events: none;
  background-color: rgba(254, 192, 4, 0.5);
}

.engage {
  color: #fec004;
  border: 1px solid #fec004;
  font-size: 12pt;
}

.engaged {
  padding: 0;
}

.user {
  height: 100%;
  width: 80%;
  background-color: #383838;
}

.userImg {
  background-color: pink;
  background-size: contain;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.exit {
  height: 100%;
}

.exit .arrow {
  color: #fec004;
}

.walletAddress {
  width: 60%;
}

.exit {
  background-color: #a8a8a8;
}

.warning {
  background-color: #a52222;
}

.tradingLong {
  background-color: #17c3b2;
}

.tradingShort {
  background-color: #d74e09;
}

.walletApp {
  height: 95vh;
  background-color: #171717;
  position: relative;
}

.Modal {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 30px;
  margin-top: 30px;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  background-color: #111;
  height: auto;
  /* transition: height 2s ease-in; */
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.bd-1 {
  transition: all 0.5s ease;
  background-color: transparent;
  opacity: 0;
  z-index: 0;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.75);
  opacity: 1;
  /* transition: opacity 1s ease; */
}

.assets button {
  border: 1px solid #2274a5;
  padding: 8px 26px;
  width: 50%;
}

.assets button.active {
  background-color: rgba(49, 143, 197, 0.5);
}

.assets button.rEth {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.assets button.weenus {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ethLogo {
  width: 15px;
}

.percentages button {
  width: 20%;
  border-color: #2274a5;
  color: #2274a5;
  font-weight: 600;
}

.percentages button:hover,
.assets button:hover {
  background-color: rgba(49, 143, 197, 0.3);
}

.wrapAddress {
  word-wrap: break-word;
}

.txHash {
  color: #fec004;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 40%;
  }

  .button {
    max-width: 53%;
    min-width: 53%;
    padding: 5px 10px;
  }

  .walletApp {
    height: 100vh;
  }

  .backdrop {
    height: 100vh;
  }
}
